*{
    padding: 0;
    margin: 0;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

#content img{
    width: 50%;
}

nav{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: black;
    padding: 0;
    margin: 0;
    border: blue solid 1px;
}

ul{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

li{
    display: inline-block;
    padding: 20px;
    color: black;
    border: black solid 1px;
    background-color: white;
    list-style-type: none;
    margin-right: 5em;
    margin-left: 5em;
}

.noShow{
    display: none;
}

li{
    cursor: pointer;
}

li:active{
    background-color: grey;
}

li:hover {
    background-color: #ddd;
}

li:active {
    background-color: grey;
}